[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
datasets = "*"
scipy = "*"
nltk = "*"
torch = "==2.1.2"
transformers = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
